.job {
  display: flex;
  justify-content: center;
  width: 100%;
}

.job-offers {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  border: 1px solid var(--border-gray);
  width: calc((var(--max-width) * 43) / 100);
  height: calc(100vh - 6.2rem);
  overflow-y: scroll;
}

.job-application {
  display: flex;
  background: var(--background-color);
  border: 1px solid var(--border-gray);
  border-left: none;
  width: calc((var(--max-width) * 57) / 100);
}

.job-offers article:nth-last-child(3) .description {
  border-bottom: none;
}

.job-offers article:nth-last-child(3) {
  border-bottom: 1px solid var(--border-gray);
}
