footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

footer > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

footer > ul > li {
  font-size: 0.8rem;
  color: rgb(0 0 0/0.9);
}

footer > p {
  font-size: 0.95rem;
  color: rgb(0 0 0/0.9);
}
